{% extends "base.html" %}

{% block scriptsAndStyles%}
{% endblock%}

{% block headerContent%}
    
    {% if {{isAuthorized}} %}
        <a href="/home" >Домой</a>
    {% else %}
        {% include "widgets/loginbuttons.html"%}
    {% endif %}
    
{% endblock %}

{% block mainContent %}
  
    <script type="text/javascript">
        $(function() {
            $.getJSON("/pics/getlast", function(data) {
                var lastPics = $("#lastPics");
                
                $.each(data, function(key, val) {
                  lastPics.append("<img id=\"pic-post\" src=\"/pics/get/" + val[0] + "_400x400.jpg\" /><br />" );
                });
              });
        });
    </script>
    
    <div id="lastPics">
        
    </div>

{% endblock %}