<!DOCTYPE html>

<html>
    <head>
    {% block head%}
        <script type="text/javascript">if(window.location.hash == '#_=_') window.location.hash = '';</script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />
        
        <script type="text/javascript" src="/js"></script>
        
        {% block scriptsAndStyles%}
            <link rel="stylesheet" type="text/css" href="/css" />
        {% endblock%}
        
        <title>hyperload</title> 
    {% endblock %}
    </head>
    <body>
        {% block mainContent %}
        {% endblock %}
    </body>
</html>