<!DOCTYPE html>

<html>
    <head>
    
    {% block head%}
        <script type="text/javascript">if(window.location.hash == '#_=_') window.location.hash = '';</script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />
        
        <script type="text/javascript" src="/js"></script>
        
        {% block scriptsAndStyles%}
            <link rel="stylesheet" type="text/css" href="/css" />
        {% endblock%}
        
        <title>picpuk</title> 
    {% endblock %}
    
        <style type="text/css">
            #header {
                width: 100%;
                height: 100px;
            }
            
            #content {
                width: 100%;
                text-align: center;
            }
            
            #pic-post {
                margin-bottom: 20px;
            }
        </style>
        
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
        
        <!-- Generic page styles -->
        <link rel="stylesheet" href="blueimp/css/style.css">
        <!-- Bootstrap CSS fixes for IE6 -->
        <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
        <!-- Bootstrap Image Gallery styles -->
        <link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="blueimp/css/jquery.fileupload-ui.css">
        <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <div id="header">
            {% block headerContent%}
            {% endblock %}
        </div>
        <div id="content">
            {% block mainContent %}
            {% endblock %}
        </div>
    </body>
</html>